
@{
    ViewData["Title"] = "Index";
}

<body>
    

    <div class="container">
        <h1>Apranga</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/apranga1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Apranga 1</h5>
                        <p class="card-text">Aprašymas apie aprangą 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/apranga2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Apranga 2</h5>
                        <p class="card-text">Aprašymas apie aprangą 2.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/apranga3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Apranga 3</h5>
                        <p class="card-text">Aprašymas apie aprangą 3.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/bootstrap.bundle.js"></script>
</body>

