
@{
    ViewData["Title"] = "Index";
}

<body>
    

    <div class="container">
        <h1>Sportiniai įrankiai</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/irankis1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Įrankis 1</h5>
                        <p class="card-text">Aprašymas apie įrankį 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/irankis2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Įrankis 2</h5>
                        <p class="card-text">Aprašymas apie įrankį 2.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/irankis3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Įrankis 3</h5>
                        <p class="card-text">Aprašymas apie įrankį 3.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/bootstrap.bundle.js"></script>
</body>
</html>

