
@{
    ViewData["Title"] = "Index";
}

<body>
    

    <div class="container">
        <h1>Naujienos</h1>
        <div class="card mb-3">
            <img src="img/naujiena1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pirmosios naujienos</h5>
                <p class="card-text">Trumpas aprašymas apie pirmąją naujieną.</p>
                <p class="card-text"><small class="text-muted">Paskelbta: 2024-04-26</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img src="img/naujiena2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Antrųjų naujienos</h5>
                <p class="card-text">Trumpas aprašymas apie antrąją naujieną.</p>
                <p class="card-text"><small class="text-muted">Paskelbta: 2024-04-25</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img src="img/naujiena3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Trečiosios naujienos</h5>
                <p class="card-text">Trumpas aprašymas apie trečiąją naujieną.</p>
                <p class="card-text"><small class="text-muted">Paskelbta: 2024-04-24</small></p>
            </div>
        </div>
    </div>

    <script src="js/bootstrap.bundle.js"></script>
</body>

