
@{
    ViewData["Title"] = "Index";
}



    <div class="container">
        <h1>Išpardavimai</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="img/ispardavimas1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Produkto pavadinimas</h5>
                        <p class="card-text">Produkto aprašymas.</p>
                        <p class="card-text"><s>Kaina: $99.99</s></p>
                        <p class="card-text text-danger">Išpardavimo kaina: $49.99</p>
                        <a href="#" class="btn btn-primary">Pirkti</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="img/ispardavimas2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kitas produkto pavadinimas</h5>
                        <p class="card-text">Produkto aprašymas.</p>
                        <p class="card-text"><s>Kaina: $79.99</s></p>
                        <p class="card-text text-danger">Išpardavimo kaina: $39.99</p>
                        <a href="#" class="btn btn-primary">Pirkti</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="img/ispardavimas3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Dar vieno produkto pavadinimas</h5>
                        <p class="card-text">Produkto aprašymas

