@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item bg-warning bg-gradient border rounded border-dark" style="margin-right: 10px">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registruotis</a>
    </li>
        <li class="nav-item bg-warning bg-gradient border rounded border-dark">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Prisijungti</a>
    </li>
}

<li>
        <input class="form-control me-2" type="search" placeholder="Ieškoti" aria-label="Search" style="margin-left: 10px;">
</li>
<li>
        <button class="btn btn-outline-success text-light bg-success bg-gradient" type="submit" style="margin-left: 20px;">Ieškoti</button>
</li>
</ul>
