
@{
    ViewData["Title"] = "Papildai";
}



<body>
    

    <div class="container">
        <h1>Sportiniai papildai</h1>
        <div class="card-deck">
            <div class="card">
                <img src="pics/berberina.jpg" class="card-img-top" alt="..." style="width:300px; height:300px;"> 
                <div class="card-body">
                    <h5 class="card-title">Papildas 1</h5>
                    <p class="card-text">Aprašymas apie papildą 1.</p>
                </div>
            </div>
            <div class="card">
                <img src="pics/gaba.png" class="card-img-top" alt="..." style="width:300px; height:300px;">
                <div class="card-body">
                    <h5 class="card-title">Papildas 2</h5>
                    <p class="card-text">Aprašymas apie papildą 2.</p>
                </div>
            </div>
            <div class="card">
                <img src="pics/iso-fuji.jpg" class="card-img-top" alt="..." style="width:300px; height:300px;">
                <div class="card-body">
                    <h5 class="card-title">Papildas 3</h5>
                    <p class="card-text">Aprašymas apie papildą 3.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="js/bootstrap.bundle.js"></script>
</body>

